<p id="notice"><%= notice %></p>

<h1>Visits</h1>

<table>
  <thead>
    <tr>
      <th>Caregiver</th>
      <th>Patient</th>
      <th>Visit Time</th>
      <!--<th>Notes</th>-->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <td><%= link_to("#{visit.caregiver.firstname} #{visit.caregiver.lastname}", caregiver_path(visit.caregiver)) %></td>
        <td><%= link_to("#{visit.patient.firstname} #{visit.patient.lastname}", patient_path(visit.patient)) %></td>
        <td><%= "#{visit.scheduled_start.strftime("%m/%d/%Y @ %I:%M%p")} - #{visit.scheduled_end.strftime("%I:%M%p")}" %></td>
        <!--<td><%= visit.notes %></td>-->
        <td><%= link_to 'Details', visit %></td>
        <td><%= link_to 'Modify', edit_visit_path(visit) %></td>
        <td><%= link_to 'Cancel', visit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visit', new_visit_path %>
