<p id="notice"><%= notice %></p>

<h1>Visits</h1>

<table>
  <thead>
    <tr>
      <th>Caregiver</th>
      <th>Patient</th>
      <th>Scheduled start</th>
      <th>Scheduled end</th>
      <th>Notes</th>
      <th>Actual start</th>
      <th>Actual end</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <td><%= link_to("#{visit.caregiver.firstname} #{visit.caregiver.lastname}", caregiver_path(visit.caregiver)) %></td>
        <td><%= link_to("#{visit.patient.firstname} #{visit.patient.lastname}", patient_path(visit.patient)) %></td>
        <td><%= visit.scheduled_start %></td>
        <td><%= visit.scheduled_end %></td>
        <td><%= visit.notes %></td>
        <td><%= visit.actual_start %></td>
        <td><%= visit.actual_end %></td>
        <td><%= link_to 'Show', visit %></td>
        <td><%= link_to 'Edit', edit_visit_path(visit) %></td>
        <td><%= link_to 'Destroy', visit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visit', new_visit_path %>
