<p id="notice"><%= notice %></p>

<h2>Upcoming Home Visit</h2>

<p>
  <strong>Scheduled:</strong>
  <%= @visit.scheduled_start %> - <%= @visit.scheduled_end %> (<%= (@visit.scheduled_end - @visit.scheduled_start) / 1.minutes.to_i %> Minutes)
</p>

<p>
  <strong>Caregiver:</strong>
  <%= link_to("#{@visit.caregiver.firstname} #{@visit.caregiver.lastname}", caregiver_path(@visit.caregiver)) %>
</p>

<p>
  <strong>Patient:</strong>
  <%= link_to("#{@visit.patient.firstname} #{@visit.patient.lastname}", patient_path(@visit.patient)) %>
</p>

<p>
  <strong>Notes:</strong>
  <%= simple_format @visit.notes %>
</p>

<% patient_location = "#{@visit.patient.address1} #{@visit.patient.city}, #{@visit.patient.state} #{@visit.patient.zip}" %>>
<% caregiver_location = "#{@visit.caregiver.address1} #{@visit.caregiver.city}, #{@visit.caregiver.state} #{@visit.caregiver.zip}" %>

<div class="google-maps">
  <iframe width="600" height="450" frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/directions?origin=<%= caregiver_location %>&destination=<%= patient_location %>&key=AIzaSyAvZoEbbmyfKTbv6YcEtBghRdSaHBNPznI" allowfullscreen></iframe>
</div>

<address>
  <%= @visit.patient.address1 %><br>
  <%= @visit.patient.city %>, <%= @visit.patient.state %> <%= @visit.patient.zip %><br>
  USA
</address>

<hr/>

<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
