<p id="notice"><%= notice %></p>

<h1>Upcoming Home Visit</h1>

<p>
  <strong>Caregiver:</strong>
  <%= link_to("#{@visit.caregiver.firstname} #{@visit.caregiver.lastname}", caregiver_path(@visit.caregiver)) %> 4.8*
</p>

<p>
  <strong>Patient:</strong>
  <%= link_to("#{@visit.patient.firstname} #{@visit.patient.lastname}", patient_path(@visit.patient)) %>
  <address>
      <%= @visit.patient.address1 %><br>
      <%= @visit.patient.city %>, <%= @visit.patient.state %> <%= @visit.patient.zip %><br>
      USA
  </address>
</p>

<iframe width="600" height="450" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/directions?origin=place_id:ChIJU3Ev3JeRMIgR2unHKYio1tM&destination=place_id:ChIJLWto4y7vMIgRQhhi91XLBO0&key=AIzaSyAvZoEbbmyfKTbv6YcEtBghRdSaHBNPznI" allowfullscreen></iframe>

<p>
  <strong>Scheduled start:</strong>
  <%= @visit.scheduled_start %>
</p>

<p>
  <strong>Scheduled end:</strong>
  <%= @visit.scheduled_end %>
</p>

<p>
  <strong>Notes:</strong>
  <%= simple_format @visit.notes %>
</p>

<p>
  <strong>Actual start:</strong>
  <%= @visit.actual_start %>
</p>

<p>
  <strong>Actual end:</strong>
  <%= @visit.actual_end %>
</p>

<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
