<p id="notice"><%= notice %></p>

<h1>Caregivers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address1</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Is stna</th>
      <th>Is lpn</th>
      <th>Is verified</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @caregivers.each do |caregiver| %>
      <tr>
        <td><%= "#{caregiver.firstname} #{caregiver.lastname}" %></td>
        <td><%= caregiver.address1 %></td>
        <td><%= caregiver.city %></td>
        <td><%= caregiver.state %></td>
        <td><%= caregiver.zip %></td>
        <td><%= caregiver.email %></td>
        <td><%= caregiver.phone %></td>
        <td><%= caregiver.is_stna %></td>
        <td><%= caregiver.is_lpn %></td>
        <td><%= caregiver.is_verified %></td>
        <td><%= link_to 'Show', caregiver %></td>
        <td><%= link_to 'Edit', edit_caregiver_path(caregiver) %></td>
        <td><%= link_to 'Destroy', caregiver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Caregiver', new_caregiver_path %>
