<p id="notice"><%= notice %></p>

<h2>Caregiver: <%= "#{@caregiver.firstname} #{@caregiver.lastname}" %></h2>

<p>
  <strong>Address:</strong>
  <address>
    <%= @caregiver.address1 %><br/>
    <%= @caregiver.address2 %><br/>
    <%= @caregiver.city %>, <%= @caregiver.state %> <%= @caregiver.zip %>
  </address>

<p>
  <strong>Email:</strong>
  <%= @caregiver.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @caregiver.phone %>
</p>

<p>
  <strong>Drivers license number:</strong>
  <%= @caregiver.drivers_license_number %>
</p>

<p>
  <strong>Drivers license state:</strong>
  <%= @caregiver.drivers_license_state %>
</p>

<h2>Skills:</h2>

<p>
  <strong>Is Nursing Aide?:</strong>
  <%= @caregiver.is_stna %>
</p>

<p>
  <strong>STNA license:</strong>
  <%= @caregiver.stna_license_id %>
</p>

<p>
  <strong>Is Nurse:?</strong>
  <%= @caregiver.is_lpn %>
</p>

<p>
  <strong>LPN license:</strong>
  <%= @caregiver.lpn_license_id %>
</p>

<p>
  <strong>Is verified:</strong>
  <%= @caregiver.is_verified %>
</p>

<h2>Upcoming Shifts:</h2>
<% next_visits = @caregiver.visits.sort_by &:scheduled_start %>
<% next_visits.each do |visit| %>
    <div class="card">
      <div class="card-body">
        <b><%= "#{visit.patient.firstname} #{visit.patient.lastname}" %></b><br/>
        <%= link_to("#{visit.scheduled_start.strftime("%m/%d/%Y @ %I:%M%p")} - #{visit.scheduled_end.strftime("%I:%M%p")}", visit_path(visit)) %> -- <%= (visit.scheduled_end - visit.scheduled_start) / 1.minutes.to_i %> Minutes<br/>
        In <%= time_ago_in_words(visit.scheduled_start) %>
      </div>
    </div>


<% end %>


<%= link_to 'Edit', edit_caregiver_path(@caregiver) %> |
<%= link_to 'Back', caregivers_path %>
