<p id="notice"><%= notice %></p>

<h2>Caregiver: <%= @caregiver.display_name %></h2>

<p>
  <strong>Address:</strong>
  <address>
    <%= @caregiver.address1 %><br/>
    <% if @caregiver.address2.present? %>
        <%= @caregiver.address2 %><br/>
    <% end %>
    <%= @caregiver.city %>, <%= @caregiver.state %> <%= @caregiver.zip %>
  </address>

<p>
  <strong>Email:</strong>
  <%= @caregiver.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @caregiver.phone %>
</p>

<p>
  <strong>Drivers license number:</strong>
  <%= @caregiver.drivers_license_number %>
</p>

<p>
  <strong>Drivers license state:</strong>
  <%= @caregiver.drivers_license_state %>
</p>

<h2>Skills:</h2>

<p>
  <strong>Is Nursing Aide?:</strong>
  <%= @caregiver.is_stna %>
</p>

<p>
  <strong>STNA License Number:</strong>
  <%= @caregiver.stna_license_id %>
</p>

<p>
  <strong>Is Nurse:?</strong>
  <%= @caregiver.is_lpn %>
</p>

<p>
  <strong>Nursing License Number:</strong>
  <%= @caregiver.lpn_license_id %>
</p>

<p>
  <strong>Is verified:</strong>
  <%= @caregiver.is_verified %>
</p>

<h2>Upcoming Shifts:</h2>
<% next_visits = @caregiver.visits.sort_by &:scheduled_start %>
<% next_visits.each do |visit| %>
    <div class="card">
      <div class="card-body">
        <b><%= visit.patient.display_name %></b><br/>
        <%= link_to(visit.display_date, visit_path(visit)) %> -- <%= visit.duration %> Minutes<br/>
        In <%= time_ago_in_words(visit.scheduled_start) %>
      </div>
    </div>


<% end %>


<%= link_to 'Edit', edit_caregiver_path(@caregiver) %> |
<%= link_to 'Back', caregivers_path %>
