<p id="notice"><%= notice %></p>

<h2>Patient: <%="#{@patient.firstname} #{@patient.lastname}" %></h2>

<p>
  <strong>Address1:</strong>
  <%= @patient.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @patient.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @patient.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @patient.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @patient.country %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @patient.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @patient.phone %>
</p>

<p>
  <strong>Dateofbirth:</strong>
  <%= @patient.dateofbirth %>
</p>

<h2>Upcoming Home Visits:</h2>
<ul>
  <% @patient.visits.each do |visit| %>
      <% %>
      <li>
        <strong>Schedule: </strong>
        <%= link_to("#{visit.caregiver.firstname} #{visit.caregiver.lastname} - #{visit.scheduled_start} - #{visit.scheduled_end}", visit_path(visit)) %> -- <%= (visit.scheduled_end - visit.scheduled_start) / 1.minutes.to_i %> Minutes
      </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
