<p id="notice"><%= notice %></p>

<h2>Patient: <%= @patient.display_name %></h2>

<p>
  <strong>Address:</strong>
  <address>
    <%= @patient.address1 %><br/>
    <% if @patient.address2.present? %>
        <%= @patient.address2 %><br/>
    <% end %>
    <%= @patient.city %>, <%= @patient.state %> <%= @patient.zip %>
  </address>
</p>

<p>
  <strong>Phone:</strong>
  <%= @patient.phone %>
</p>

<p>
  <strong>Dateofbirth:</strong>
  <%= @patient.dateofbirth %>
</p>

<h2>Upcoming Home Visits:</h2>
<% next_visits = @patient.visits.sort_by &:scheduled_start %>
<% next_visits.each do |visit| %>
    <div class="card">
      <div class="card-body">
        <b>Caregiver: <%= visit.caregiver.display_name %></b><br/>
        <%= link_to(visit.display_date, visit_path(visit)) %> -- <%= visit.duration %> Minutes<br/>
        In <%= time_ago_in_words(visit.scheduled_start) %>
      </div>
    </div>
<% end %>

<p>
  <strong>Total Visits</strong>
  <%= @patient.visits.count %>
</p>
<p>
  <strong>Time of Care</strong>
  <%= @patient.visits.inject(0){ |sum, visit| sum + visit.duration } %> Minutes
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
