<!DOCTYPE html>
<html>
  <head>
    <title>Healthcycle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2>HealthCyCLE</h2>
    <%= link_to("Patients", patients_path) %>
    <%= link_to("Caregivers", caregivers_path) %>
    <%= link_to("Home Visits", visits_path) %>
    <hr/>
    <%= yield %>
  </body>
</html>
